/* Apply CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Full-screen display and background */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e6e6e6; /* Background color for the entire screen */
}

/* Main container */
.container {
  display: grid;
  place-items: center;
  height: 100%;
}

.signup-container {
  width: 80%;
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  background-color: #fafafa; /* Signup box background color */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow */
}

.signup-text {
  text-align: center;
  padding-bottom: 20px; /* Padding at the bottom of signup text */
}

input[type="text"],
input[type="password"],
input[type="file"],
input[type="email"] {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: calc(100% - 22px); /* Adjusting width to match other inputs (22px = padding * 2 + border * 2) */
}

button {
  margin-top: 15px;
  padding: 12px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  width: 100%;
}

/* Additional styling for file input (Browse button) */
.file-input {
  margin-bottom: 15px;
}

.file-input input[type="file"] {
  display: none;
}

.file-input label {
  display: block;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  text-align: center;
  transition: background-color 0.3s;
}

.file-input label:hover {
  background-color: #f0f0f0;
}
